
.ribbon {
    position: relative;
    width: 100%;
    margin: 0;
    top:130px;
}

.ribbon:before {
    left: -54px;
    border-left-color: transparent;
    -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
    transform: rotate(-16deg);
}

.oldie .ribbon:before {
    left: -48px;
}

.ribbon i:before {
    right: -54px;
    border-right-color: transparent;
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    -ms-transform: rotate(16deg);
    -o-transform: rotate(16deg);
    transform: rotate(16deg);
    z-index: -1;
}
.oldie .ribbon i:before {
    right: -48px;
}

.ribbon i:after,
.ribbon u:after {
    content: '';
    position: absolute;
    border-style: solid;
    bottom: -16px;
    z-index: 0;
}

.ribbon i:after {
    right: -16px;
    border-color: transparent transparent transparent #a33d33;
    border-width: 0 0 16px 16px;
}

.ribbon u:after {
    left: 0;
    border-color: transparent #a33d33 transparent transparent;
    border-width: 0 16px 16px 0;
}

.ribbon u {
    display: block;
    position: relative;
    width: 100%;
    left: -16px;
    padding: 0 16px 16px;
    background: #d0726a;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0726a), to(#c7574d));
    background-image: -webkit-linear-gradient(#d0726a, #c7574d);
    background-image:    -moz-linear-gradient(#d0726a, #c7574d);
    background-image:     -ms-linear-gradient(#d0726a, #c7574d);
    background-image:         linear-gradient(#d0726a, #c7574d);
    -webkit-border-top-left-radius: 50% 16px;
    border-top-left-radius: 50% 16px;
    -webkit-border-top-right-radius: 50% 16px;
    border-top-right-radius: 50% 16px;
    text-align: center;
    font: 28px/48px Arial, cursive;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px 1px rgba(163, 61, 51, .8), 0 2px 1px rgba(163, 61, 51, .6);
}
.oldie .ribbon u {
    padding: 0 16px;
    *left: 0px;
    *padding: 0;
}

.ribbon u {
    left: 0;
    margin: 0 -16px;
    width: auto;
}

.ribbon u::selection { background-color: #a33d33; }
.ribbon u::-moz-selection { background-color: #a33d33; }

.ribbon u:before,
.ribbon:after {
    content: '';
    position: absolute;
    height: 16px;
    left: 0;
    bottom: 0;
    -webkit-border-top-left-radius: 50% 16px;
    border-top-left-radius: 50% 16px;
    -webkit-border-top-right-radius: 50% 16px;
    border-top-right-radius: 50% 16px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .3);
}
.oldie .ribbon u:before,
.oldie .ribbon:after {
    content: none;
}

.ribbon u:before {
    width: 100%;
    background: #a33d33;
}

.ribbon:after {
    width: 100%;
    background: #fff;
    z-index: 1;
}


.widget_circleicon-widget .circle-icon-box.icon-position-top{
    padding-top: 20px;
}

.question{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    line-height: 39px;
    font-size: 32px;
}

p.text{
    font-size: 18px !important;
}


.answer-cont{        
    height: 190px;
}

.question-container{
    position: relative;
    top: 29px;
    left: 0px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px
}

body.page{
    background-color: #B0D2D3 !important;
    min-height: 400px !important;
}

#main{
    overflow: auto;        
    background-color: #B0D2D3 !important;
    padding: 0px !important;
}

.entry-content{
    margin-top: 10px;
    min-height: 350px;
    padding-bottom: 20px;
}

.bar-containter{
    width: 100%;
    height: 30px;
    border: 8px solid #ffffff;
    background-color:#b3b3b3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.bar{        
    background-color: #00ff66;
    width: 0%;
    height: 30px;
    float: left;
}

.patrocinado{
    margin-top: 280px;
    font-size: 15px;
}

.patrocinado-final{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

#price{        
    background-color: #fff;
    padding-top: 0px;        
    width: 12%;
    font-size: 20px;
    text-align: center;
    height: 30px;
    float: left;
    clear: none;
}

/*FLIP EFFECT*/

.circle-icon.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto 40px;
    border: 1px solid #CCC;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.answer-cont .container{
    width: 180px;
    margin: 0px auto;
    height: 180px;
}

.card {
    width: 180px;
    height: 180px;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.threeColumns-0  .card{
    margin-left: 15%;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card figure {
    display: block;
    width: 180px;
    height: 180px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}



.card .front {
    background: trasnparent;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .back {
    background: transparent;
    background-image:url('http://www.quantocustaumaplicativo.com/wp-content/uploads/icons/answerok.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


/*TOOLTIPS*/

#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

#tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}


#tooltip.left:after
{
    left: 10px;
    margin: 0;
}

#tooltip.right:after
{
    right: 10px;
    left: auto;
    margin: 0;
}

.response-container{
    float:left;
    width: 50%;
    height: 150px;
    margin:10px 0px;
}

#responses{
    float: left;
    width: 50%;
}

#texts{        
    float: left;
    width: 50%;
    margin-top:-50px

}

#texts .inner{
    width: 90%;
    text-align: left;
    min-height: 780px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 20px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

#texts p{
    text-align: left;       
}

.response-icon{
    width:110px;
    height:110px;
    margin:0px auto;
    background-size:cover;
}

.response-container p{
    text-align:center
}

.index{
    text-align: center;
    background-image:url('http://www.quantocustaumaplicativo.com/wp-content/uploads/icons/bg.png');      
    min-height: 450px;
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;;
}

.initial-title{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 30px;
    font-size: 40px !important;
    text-align: center;
    color:#fff !important;
    width: 80%;
    margin: 0px 8% !important;    
    padding-top: 40px;
    padding-bottom:40px;
    background-color: rgba(0,0,0,0.6);
}

.begin {
    width: 200px;
    height: 40px;           
    margin-top: 80px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 38px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.begin-btn:active {
    padding-top: 15px;
    margin-bottom: -1px;
}
.begin-btn, .begin-btn:hover, .begin-btn:active {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
}

.begin-btn-2 {
    background-color: #f06060;
    width: 265px;
    box-shadow: 0px 3px 0px 0px #cd1313;
}

.begin-btn-2:hover {
    background-color: #ed4444;
}

.begin-btn-2:active {
    box-shadow: 0px 1px 0px 0px #cd1313;
}


.begin-btn-3 {
    background-color: #f06060;
    box-shadow: 0px 3px 0px 0px #cd1313;
}

.begin-btn-3:hover {
    background-color: #ed4444;
}

.begin-btn-3:active {
    box-shadow: 0px 1px 0px 0px #cd1313;
}

#toYeeply{
    color:#fff;
    width: 64%;
    padding: 10px 22px;
    height: 47px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;     
    margin-left: 10%;   
}

#reset{
    width: 65%;
    margin-left: 10%;
    height: 20px;           
    margin-top: 10px;       
    padding: 14px 26px;
    font-size: 14px;
}


.begin-btn-1 {  
    background-color: #3fb8e8;
    box-shadow: 0px 3px 0px 0px #3293ba;
}

.begin-btn-1:hover {
    background-color: #1baae3;
}

.begin-btn-1:active {
    box-shadow: 0px 1px 0px 0px #3293ba;
}

.final-price{
    text-align: center !important;
    font-size: 26px !important;
}

.circle-icon-box {cursor: pointer;}
.fourColumns-0 , .panel-grid-cell .panel { margin-bottom: 35px !important} 
.threeColumns-0 , .panel-grid-cell .panel { margin-bottom: 35px !important}     
.fourColumns-1-0 , .fourColumns-1-1 , .fourColumns-1-2 , .fourColumns-1-3 { width:25% } 
.threeColumns-1-0 , .threeColumns-1-1 , .threeColumns-1-2 { width:33% } 
.fourColumns-1 .panel-grid-cell { float:left }
.threeColumns-1 .panel-grid-cell { float:left }
.panel-grid-cell .panel:last-child { margin-bottom: 0 !important } 
.panel-grid { margin: 0 -15px 0 -15px } .panel-grid-cell { padding: 0 15px 0 15px } 

@media (max-width:800px) { 


    #responses{
        float: right;
        width: 100%;
    }

    #texts{
        float: right;
        width: 100%;   
    }

    #texts .inner{
        width: 92%;
    }        

    .entry-content{
        min-height: 400px;
        padding-bottom: 120px;
    }

    .index{
        background-size: 110% auto;
    }

    .initial-title{         
        padding-top: 20px;
        padding-bottom:20px;
        line-height: 30px;
        font-size: 25px !important;
    }

    #main{
        padding: 0px !important;
    }

    .response-container{
        float:left;
        width: 50%;           
    }

    .final-price{
        font-size: 26px !important;
    }


    .fourColumns-0 .panel-grid-cell , .fourColumns-1 .panel-grid-cell { float:left } 
    .fourColumns-0 .panel-grid-cell { width:100% } 
    .fourColumns-1 .panel-grid-cell { width:50% } 

    .threeColumns-0 .panel-grid-cell , .threeColumns-1 .panel-grid-cell { float:left } 
    .threeColumns-1 .panel-grid-cell { width:50% } 
    .threeColumns-0 .panel-grid-cell { width:100% } 

    .fourColumns-1-0 , .fourColumns-1-1 , .fourColumns-1-2 { margin-bottom:5px } 
    .threeColumns-1-0 , .threeColumns-1-1 { margin-bottom:5px } 


    .panel-grid-cell.threeColumns-1-0 { width:50%; height: 140px;}        
    .panel-grid-cell.fourColumns-1-0 { width:50%; height: 140px;}  

    .fourColumns-0 , .panel-grid-cell .panel { margin-bottom: 15px !important} 
    .threeColumns-0 , .panel-grid-cell .panel { margin-bottom: 15px !important}    

    .widget_circleicon-widget .circle-icon-box.icon-position-top{
        padding-top: 10px;
    }

    .card figure, .card, .answer-cont .container{
        width: 110px;
        height: 110px;            
    }

    .answer-cont{        
        height: 125px;
    }

    .question{
        text-align: center;
        font-size:26px;
    }

    p.text{
        font-size: 12px !important;
    }


    .panel-grid { margin-left: 0 !important; margin-right: 0 !important; } 
    .panel-grid-cell { padding: 0 !important; }  

    .widget_circleicon-widget .circle-icon-box .circle-icon{             
        /*left:20% !important;*/
        width: 120px;
        height: 120px;
    }

    #price{        
        background-color: #fff;
        padding-top: 0px;                    
        font-size: 20px;
        text-align: center;
        height: 30px;
        float: left;
        position: absolute;
        bottom: 20px;
        left: 0px;
        width: 50%;
        margin: 0px 25%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .bar-containter{
        width: 80%;
        margin-left: 8%;
        position: absolute;
        bottom: 60px;
        overflow: visible;            
    }
} 

@media (max-width:500px) { 

    .response-container{
        float:left;
        width: 50%;           
    }

    #responses{
        float: right;
        width: 100%;
    }

    #texts{
        float: right;
        width: 100%;   
    }

    #texts .inner{
        width: 87%;
    }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .entry-content{
        min-height: 950px;
        margin-top: 10%;
        padding-bottom: 25%;
    }

    #responses{
        float: right;
        width: 100%;
    }

    #texts{
        float: right;
        width: 100%;   
    }

    .bar-containter{
        width: 80%;
        margin-left: 8%;
        position: absolute;
        bottom: 260px;
        overflow: visible;            
    }
}
