<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre Mim</h2>
                <h3 class="section-subheading text-muted"> Um pouco mais sobre esse tal de Luiz </h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
            <div class="col-sm-12">
                <div class="team-member">
                    <img src="{{ 'team/1.jpg' | asset_path }}" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">

                        <p>
                            <summary>

                                Desenvolvedor há 12 anos, Apaixonado por inovação desenvolveu o aplicativo Droido Mensagens, por hobby, alcançando a marca de 270 mil downloads na Google Play. Já fez parte de de 4 startups, atualmente co-fundador de do Parlo e especialista em Chatbots. Coordenador de Startups da Ajee Tocantins, Co-Fundador e um dos loucos a frente do Movimento Startup Tocantins, seu 4º Startup Weekend e Desenvolvedor Ruby on Rails na Defensoria Pública do Estado do Tocantins.
                                </summary>
                            </p>

                            <p>
	                            <summary>
	                            <b>en</b>
	                            Developer for 11 years, passionate about innovation has developed the application for Android “Droido Messagens” which reaching the mark of 270 thousand downloads in Google Play store. Currently has a double life, alternating between web developer in the Defensoria Pública do Estado do Tocantins and the world of entrepreneurship and Startups, where he is Community Manager of the Startup Tocantins Movement, in addition to continuing to try to launch a product that can change the world.
	                            </summary>
                            </p>


                            <p>
                                Bom, meu nome é Luiz, nasci em uma pequena cidade do Maranhão, cerca de 15 mil habitantes, chamada Fortaleza dos Nogueiras, onde desde pequeno já era empolgado com criação de soluções. Sempre gostei de criar meus próprios brinquedos e jogos, muitas vezes dava muito mais valor aos que criava do que aos que minha mãe comprava.
                            </p>

                            <p>
                                Meus amigos sempre se reuniam em minha casa, como não tínhamos condição de comprar um vídeo game, eu acabava na função de criar os jogos e também sobrava para ser o “computador”, era o termo que nos referíamos a quem iria criar as regras do jogo e coordenava todos os personagens e eventos não “humanos”. Pra mim era uma grande satisfação receber um feedback positivo sobre a criação, que era bem muito bem aceita entre todos.
                            </p>

                            <p>
                                Desde então coloquei na cabeça que queria atuar na parte tecnologia, mas naquele tempo queria desenvolver jogos. Então procurei uma faculdade na área. No tempo havia aqueles processo seletivos por fases, no qual a cada ano do ensino médio você faz uma etapa. Participei desse processo tanto da Universidade Federal quanto a Estadual do Maranhão. Fiquei entre os primeiros colocados em ambas, faltando apenas uma última etapa eu fiz também o ENEM, onde consegui uma bolsa no Piauí, mas no final passei para Ciência da Computação na UFT, por ser Federal escolhi a capital Tocantinense.
                            </p>

                            <p>
                                Vim para Palmas, com um amigo que já morava a algum tempo aqui, nos primeiros períodos fiz muitas amizades e acabei virando vice-presidente do CA de Computação. Uns colegas e eu acabamos montando uma equipe para participar do Desafio SEBRAE e mesmo sem muito conhecimento acabamos ficando em segundo lugar no estado por muito pouco. Creio que não ficamos em primeiro por que a última etapa foi em um feriado e a maior parte da equipe, que não morava em Palmas, viajou e acabou que o resultado dessa etapa foi muito ruim.
                            </p>

                            <p>
                                Dessa experiência acabei percebendo que gostava muito de empreendedorismo, mas que por falta estímulo acabei deixando isso um pouco de lado e voltando a me forcar em terminar a faculdade. No sétimo período estava a procura de um estágio, acabei conseguindo um emprego na Redesat, onde passei mais de 4 anos atuando como Desenvolvedor e onde conheci o Ruby on Rails, um aprendizado incrível.
                            </p>

                            <p>
                                Durante essa época tive a oportunidade de criar minha primeira empresa junto a um colega de trabalho, a 7Mídias era uma empresa de Marketing Digital voltada basicamente a criação de estratégias e campanhas em redes sociais para promoção de eventos. Criamos ferramentas automatizadas de promoção, diversas e bem sucedidas campanhas, tivemos uma ótima aceitação no mercado, mas tudo isso acabou indo por água abaixo por falta de planejamento financeiro, não sabíamos cobrar, não sabíamos investir.
                            </p>

                            <p>
                                Depois de 3 anos na Redesat senti que eu parei de evoluir profissionalmente, estava preso a manutenção de sistema que muitas vezes nem eram utilizados, me sentia pouco aproveitado, pois sabia que podia dar muito mais do que era possível dar naquele ambiente.
                            </p>

                            <p>
                                Pouco tempo entrei em uma agência de comunicação, onde atuei como Analista de Redes Sociais, durante uma campanha eleitoral. Com o trabalho conseguimos ótimos resultados, além de mais experiência no ramo de Marketing. Nessa mesma época estava estudando pra concursos, consegui passar em três, sendo um deles na Defensoria, onde trabalho atualmente. Na Defensoria estive em contato com ótimo profissionais que novamente me abriram os olhos para o mundo do empreendedorismo e todo aquele ambiente me motivou bastante a querer inovar e me arriscar no mundo das start-ups, dai veio o meu aplicativo <a href="https://play.google.com/store/apps/details?id=br.com.redrails.torpedos&hl=pt_BR">Droido</a>.
                            </p>

                            <p> <br><br>
                                <div class="g-page" data-width="273" data-href="//plus.google.com/u/0/101456346694407663804" data-layout="landscape" data-rel="publisher"></div>
                            </p>



                        </p>
                    </div>
                </div>
            </div>
        </section>
