<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link href="https://plus.google.com/101456346694407663804" rel="publisher" />
    <meta name="alexaVerifyID" content="wjpQ_iH5Rrmg4q4f-8qTGIh8WSs"/>
    <meta http-equiv="last-modified" content="{{ site.time | date: '%a, %-d %b %Y %H:%M:%S'  }} GMT " />

    <meta http-equiv="cache-control" content="Private" />
    <meta http-equiv="Expires" content="600" />

    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | asset_path }}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    {% stylesheet app %}

</head>
