<!-- Header -->
<header>


    <div class="homepage-hero-module">

            <div class="info">
                <div class="intro-text">
                    <div class="intro-lead-in">Meu nome é</div>
                    <div class="intro-heading">Luiz Carvalho</div>
                    <div class="intro-lead-in">Meu desafio é criar coisas incríveis</div>
                    <a href="#services" class="page-scroll btn btn-xl">  Saiba mais </a>
                </div>
            </div>
        <div class="video-container">

            <video autoplay loop class="fillWidth">
                <source src="{{ 'coding.mp4' | asset_path }}" type="video/mp4" />Seu navegador não suporta a reprodução desse vídeo, sugerimos que você o atualize.
                <source src="{{ 'coding.webm' | asset_path }}" type="video/webm" />Seu navegador não suporta a reprodução desse vídeo, sugerimos que você o atualize.
            </video>
            <div class="poster hidden">
                <img src="{{  'coding.jpg' | asset_path }}" alt="">
            </div>



        </div>
        <div class="container">

        </div>
    </div>




</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
    -->

