<!-- Header -->
<header>
  <div class="homepage-hero-module">
    <div class="info">
      <div class="intro-text">
        <div class="intro-lead-in">Meu nome é</div>
        <div class="intro-heading">Luiz Carvalho</div>
        <div class="intro-lead-in">Meu desafio é criar coisas incríveis</div>
        <a href="#services" class="page-scroll btn btn-xl"> Saiba mais </a>
      </div>
    </div>
    <div class="video-container">
      <div class="poster">
        <img
        src="https://res.cloudinary.com/drlko5ghb/image/upload/v1726777207/luizcarvalhocom/xd0dekkn2ffcgeaiayie.jpg"
          alt="Luiz Carvalho palestrando em evento, segurando um microfone e um controle remoto, com expressão envolvente. Ele usa óculos e veste um blazer escuro, destacando-se contra um fundo azul iluminado por luzes difusas. Um crachá de identificação pendurado em seu pescoço sugere participação em um evento tecnológico"
        />
      </div>
    </div>
    <div class="container"></div>
  </div>
</header>
