<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Palestras</h2>
        <h3 class="section-subheading text-muted">Algumas das palestras realizadas pelo Luiz.</h3>
      </div>
    </div>
    <div class="row">

      <!-- Single Portfolio Item -->
      <div class='mix col-md-4' >
        <div class="col-md-12 col-sm-6 portfolio-item">
          <a href="https://youtu.be/9Yj4mqsBt6E" class="portfolio-link" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="https://res.cloudinary.com/drlko5ghb/image/upload/t_palestra-resize/v1726866873/luizcarvalhocom/palestras/palestra-wide-titulo.png" class="img-responsive" alt="{{ projeto.title}}">
          </a>
          <div class="portfolio-caption">
            <h4>Agentes Inteligentes: A nova revolução da I.A.</h4>
            <p class="text-muted">Falamos sobre como os Agentes Inteligentes podem automatizar processos e tarefas com seus super poderes.</p>
          </div>
        </div>
      </div>
      <!-- End Single Portfolio Item -->


            <!-- Single Portfolio Item -->
            <div class='mix col-md-4' >
              <div class="col-md-12 col-sm-6 portfolio-item">
                <a href="https://youtu.be/9Yj4mqsBt6E" class="portfolio-link" target="_blank">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fa fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://res.cloudinary.com/drlko5ghb/image/upload/t_palestra-resize/v1726866873/luizcarvalhocom/palestras/palestra-wide-titulo.png" class="img-responsive" alt="{{ projeto.title}}">
                </a>
                <div class="portfolio-caption">
                  <h4>Agentes Inteligentes: A nova revolução da I.A.</h4>
                  <p class="text-muted">Falamos sobre como os Agentes Inteligentes podem automatizar processos e tarefas com seus super poderes.</p>
                </div>
              </div>
            </div>
            <!-- End Single Portfolio Item -->

                  <!-- Single Portfolio Item -->
      <div class='mix col-md-4' >
        <div class="col-md-12 col-sm-6 portfolio-item">
          <a href="https://youtu.be/9Yj4mqsBt6E" class="portfolio-link" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="https://res.cloudinary.com/drlko5ghb/image/upload/t_palestra-resize/v1726866873/luizcarvalhocom/palestras/palestra-wide-titulo.png" class="img-responsive" alt="{{ projeto.title}}">
          </a>
          <div class="portfolio-caption">
            <h4>Agentes Inteligentes: A nova revolução da I.A.</h4>
            <p class="text-muted">Falamos sobre como os Agentes Inteligentes podem automatizar processos e tarefas com seus super poderes.</p>
          </div>
        </div>
      </div>
      <!-- End Single Portfolio Item -->

    </div>
  </div>
</section>
