<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Um pouco do que faço, mas estou sempre aberto a novos desafios!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile</h4>
                    <p class="text-muted"> Desenvolvimento de Aplicativos para Android, iOS ou Web Apps.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web</h4>
                    <p class="text-muted">Desenvolvimento de Sistemas Web, Sites.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Criação de Cartões, Logos, Banners, Animações.</p>
                </div>
            </div>
        </div>
    </section>