<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Um pouco do que faço, mas estou sempre aberto a novos desafios!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Palestras</h4>
                    <p class="text-muted">Prepare seu público para o futuro com palestras impactantes e personalizadas sobre tecnologia, inovação e inteligência artificial. Abordo temas como Agentes Inteligentes, o poder do ChatGPT (e como criar o seu!), Negócios, Inovação e Pitch Perfeito, com conteúdo atualizado, linguagem acessível, exemplos reais e foco na participação do público. Impulsione o sucesso do seu evento com uma palestra memorável que vai inspirar e conectar sua equipe com as últimas tendências. Entre em contato e solicite um orçamento</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inteligência Artificial</h4>
                    <p class="text-muted">Soluções de Inteligência Artificial personalizadas. </p>
                    <p class="text-muted">Oferecemos desde a implementação de chatbots inteligentes até o desenvolvimento de modelos preditivos avançados, otimizando processos, aumentando a eficiência e promovendo uma tomada de decisão mais estratégica. Combinamos as melhores práticas em inteligência artificial generativa, criando ferramentas que se integram perfeitamente ao seu fluxo de trabalho. Seja para automação de tarefas ou inovação em serviços, nossa expertise em IA vai promover a melhor solução para você.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desenvolvimento de sotfwares</h4>
                    <p class="text-muted">Criação de soluções que se adaptam a múltiplos dispositivos, utilizando técnicas de user experience e interfaces amigáveis, além de tecnologias modernas e poderosas associando HTML5, CSS3 E Javascript com tecnologias server side como Ruby on Rails com outras tantas tecnologias de ponta, resultando em sistemas flexíveis e poderosos.</p>
                </div>
            </div>
        </div>
    </section>
