<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Um pouco do que faço, mas estou sempre aberto a novos desafios!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chatbot</h4>
                    <p class="text-muted">Criação de Chatbots para seu evento, atendimento ao cliente, automatização de processos, informativos e produtos. Funcionam como aplicativos, mas podem ser desenvolvidos mais rapidamente e com melhor custo benefício, mas proporcionando ótima experiência e resultados para o cliente e seus usuários.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile</h4>
                    <p class="text-muted">Desenvolvimento de aplicativo para Android e iOS, utilizando técnicas nativas e híbridas com integração com serviços web, combinando os melhores elementos de cada tecnologia e proporcionando ao cliente melhores resultados em seus aplicativos.</p>
                    <p>
                        <a href="/calculadora"> Quanto custa um aplicativo? </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web</h4>
                    <p class="text-muted">Criação de soluções que se adaptam a múltiplos dispositivos, utilizando técnicas de user experience e interfaces amigáveis, além de tecnologias modernas e poderosas associando HTML5, CSS3 E Javascript com tecnologias server side como Ruby on Rails com outras tantas tecnologias de ponta, resultando em sistemas flexíveis e poderosos.</p>
                </div>
            </div>
        </div>
    </section>
